body {   
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    background: #e7ebec4a;
}
h1{
    text-align: center;
}
.greend__card {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    max-width: 282px;
    overflow: hidden;
    position: relative;
    padding: 0 16px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background-color: #ddf8efa6;
    border: solid 1px #1e8d89;
    color: #042726;
    margin: 16px auto;
}
.form-group {
    margin-bottom: 7px;
}

.container_main {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.container_form {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
    color: #143d37;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 50px auto 0 auto;
    padding: 1rem 1rem 4px;
}

.form-group > span {
    margin-bottom: 7px;
}

.form-group > input {
    border: solid 1px #d6d6d6;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 87%;
    width: -webkit-fill-available;
    min-height: 44px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border-radius: 5px;
}

.form-group > input:focus {
    outline: 0;
    border: solid 1px #1e8d89;
    background-color: #fff;
}

.form-group > input:focus::placeholder {
    font-weight: bolder;
}

.container_form i {
    margin-left: -30px;
    cursor: pointer;
    display: inline;
    font-size: large;
    vertical-align: sub;
}

.submit__button {
    outline: 0;
    background: none;
    background-color: rgba(7, 124, 56, 0.8);
    min-height: 44px;
    width: 100%;
    min-width: 54px;
    padding: 0 8px 0 8px;
    margin: 16px 0 8px;
    text-align: center;
    line-height: 44px;
    border: 0;
    color: #FFF;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 5px;
}

.submit__button:hover {
    opacity: 0.8;
    background-color: #39928e;
}

.submit__button:focus {
    opacity: 0.8;
    background-color: #39928e;
}

.form__footer {
    font-size: 12px;
    color: #143d37;
    vertical-align:top;
    text-align: center;
    padding-top: 16px;
    border-top: 1px solid #eeeeee;
}
.result_gen {
    font-size: 14px;
    color: #143d37;
    text-align: center;
    margin: 16px 0;
    padding: 16px 0;
    border-top: 2px solid #39928e;
    border-bottom: 2px solid #39928e;
}